$primary: #f7cb45;
$neo-purple: #a9a6ff;
$text: #282825;
$text-body: #404654;
$link-color: #0047ff;
$body-background-color: #fefefe;
$family-primary: "Cabin", sans-serif;
$family-heading: "Noto Sans", sans-serif;
$family-sans-serif: $family-primary;
$control-border-width: 2px;
$radius: 0;
$button-padding-vertical: 1rem;
$button-padding-horizontal: 2rem;
$spacing-horizontal: 1rem;
$header-height: 5rem;
$global-border-radius: 12px;
$global-box-shadow: 6px 6px 0 #000;
