@use "variables" as variables;
@use "bulma/sass";
@use "typography";

html {
  scroll-behavior: smooth !important;
}

.is-brutal {
  box-shadow: variables.$global-box-shadow;
  border: 1px solid #000;
}
